{% extends "layout.html" %}

{% block content %}

<div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Primera Actualizacion
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          En este punto se creo la pagina con puros ejemplos, se personalizo un poco y se experimento un poco mas.
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingtwo">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Segunda Actualizacion
            </button>
          </h2>
        </div>
    
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            Se modifico este menu a ver que tal funcionaba.
          </div>
        </div>
      </div>
</div>

{% endblock %}